 body{
 background-image: url(67264503-cine-retro-películas-iconos-de-patrones-sin-fisuras-mosaico-ornamento-ilustración-vectorial.jpg);
}
.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  div.movie{
     display: inline-block;
   
  }
  
  h1 {
    -webkit-text-stroke: 3px black;
    color: red;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;

  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #results {
    
    margin-top: 20px;
    text-align: left;
    
  }
  
  .movie {
    
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .movie img {

    width: 100px;
    float: left;
    margin-right: 10px;
  }
  
  .movie h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .movie p {
    margin: 5px 0;
    display: flex;
  }
  